.c1 {
    color: blue;
    background-color: pink;
}

.c2 {
    color: red;
    background-color: grey;
}

.c3 {
    color: green;
    background-color: yellow;
}

.cl {
    width: 250px;
    height: 150px;
}