<div class="d-flex justify-content-center" *ngIf="pers">
   <div class="col-lg-8 push-lg-4">
     <div class="tab-content p-b-3">
       <div class="tab-pane active" id="profile">
         
         <div class="d-flex justify-content-center">
           <img width="150px" height="150px" class="rounded-circle align-content-center" src="../../assets/{{pers.path}}" alt="">
         </div>
         <div class="row">
           <div class="col-md-12">
             <h4 class="m-t-2"><span class="fa fa-clock-o ion-clock pull-xs-right"></span> Informations</h4>
             <table class="table table-hover table-striped">
               <tbody>
               <tr>
                 <td>
                   <strong>Prénom</strong> {{pers.prenom}}
                 </td>
               </tr>
               <tr>
                 <td>
                   <strong>Nom</strong> {{pers.nom}}
                 </td>
               </tr>
               <tr>
                 <td>
                   <strong>Age</strong> {{pers.age}} ans
               </tr>
               <tr>
                 <td>
                   <strong>Profession</strong> {{pers.profession}}
                 </td>
               </tr>
               <tr>
                 <td>
                   <strong>Image</strong> {{pers.path}}
                 </td>
               </tr>
               </tbody>
             </table>
             <div class="d-flex justify-content-center">
               <button class="btn btn-danger" (click)="Supprimer()">
                 Delete
               </button>
               <button class="btn btn-primary" (click)="MiseAJour()" >
                 Update
               </button>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
