<div class="card-container">
  <div class="card">
    <div class="front">
      <div class="cover">
        <img src="../assets/rotating_card_thumb2.png">
      </div>
      <div class="user">
        <img class="img-circle" src="../assets/{{ detailPersonne.path | noImage}}">
      </div>
      <div class="content">
        <div class="main">
          <h3 class="name"> {{ detailPersonne.prenom }} {{ detailPersonne.nom }}</h3>
          <p class="profession">{{ detailPersonne.age }} ans</p>
          <p class="text-center">{{ detailPersonne.profession }}</p>
        </div>
        <div class="footer">
          <i class="fa fa-mail-forward"></i> Auto Rotation
        </div>
      </div>
    </div> <!-- end front panel -->
    <div class="back">
      <div class="header">
        <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
      </div>
      <div class="content">
        <div class="main">
          <h4 class="text-center">Job Description</h4>
          <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

          <div class="stats-container">
            <div class="stats">
              <h4>235</h4>
              <p>
                Followers
              </p>
            </div>
            <div class="stats">
              <h4>114</h4>
              <p>
                Following
              </p>
            </div>
            <div class="stats">
              <h4>35</h4>
              <p>
                Projects
              </p>
            </div>
          </div>

        </div>
      </div>
      <div class="footer">
        <div class="social-links text-center">
          <button class="btn btn-success" (click)="addRecrue()">Recruter</button>
          <button class="btn btn-info" (click)="plusInfos()">+ Details</button>
        </div>
      </div>
    </div> <!-- end back panel -->
  </div> <!-- end card -->
</div>